.blog-body{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    height: 50px;
}

footer{
    height: 50px;
}

.back-div{
    display: flex;
}

.blog-h1{
    margin: 10px;
}

.blog-form{
    display: flex;
    align-items: center;
}

.blog-main{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}

.blog-div{
    border: solid black 2px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blog-title{
    font-weight: bolder;
    border-bottom: solid black 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.blog-content{
    text-indent: 20px;
    margin-top: 5px;
}

.blog-author{
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 10px;
}

footer{
    border-top: solid black 2px;
}

.blog-a{
    font-size: 10px;
    margin-left: 10px;
}